@media screen and (max-width: 650px) {
    .container{
        width: 399px !important; 
    }
}


p{
    margin-bottom: 0;
}

label{ 
    display: flex;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.input-text, 
.input-number,
.input-textarea{
    display: block;
    width: 100%;
}
.container{
    display: block;
    margin: auto;
    width: 600px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px 10px 10px;
    border-style: solid;
}

.submit-btn{
    background-color: aquamarine;
}

.text-center{
    text-align: center;
}